.colorpls {
    color: white;
}

.moreheightpls {
    height: 45px !important;
}

.greenpls {
    background: #3AC162 !important;
}

#greenpls {
    background:#3AC162 !important;
}

.redpls {
    background: crimson !important;
}

#redpls {
    background:crimson !important;
}

#confirm {
    width: 40%;
    margin: 0 auto;
}
