.colorpls {
    color: white;
}

.moreheightpls {
    height: 55px !important;
}

.greenpls {
    background: #3AC162 !important;
    height: 3.5em;
}

#greenpls {
    background:#3AC162 !important;
    height: 3.5em;
}

.redpls {
    background: #F03250 !important;
    height: 3.5em;
}

#redpls {
    background:#F03250 !important;
    height: 3.5em;
}

#confirm {
    width: 40%;
    margin: 0 auto;
}
