.colorpls {
    color: white;
}

.moreheightpls {
    height: 55px !important;
}

.greenpls {
    background: #3AC162 !important;
    height: 3em;
}

#greenpls {
    background:#3AC162 !important;
    height: 3em;
}

.redpls {
    background: #F03250 !important;
    height: 3em;
}

#redpls {
    background:#F03250 !important;
    height: 3em;
}

.orangepls {
    background:orange !important;
    height: 3em;
}

#orangepls {
    background:orange !important;
    height: 3em;
}

#confirm {
    width: 40%;
    margin: 0 auto;
}


.react-datepicker__current-month {
    font-size: 2rem !important;
}

.react-datepicker__day-name {
    margin: 0.5rem !important;
    font-size: 1.5rem;
    width: 2.5rem !important;
    height: 2rem;
}

.react-datepicker__day {
    margin: 0.5rem !important;
    font-size: 1.5rem;
    width: 2.5rem !important;
    height: 2rem;
}

#morespace {
    margin-bottom: 1em;
}