.card {
    border: 1px solid black;
    position: absolute;
    height: 25em;
    width: 25em;
    top: 35%;
    left: 35%;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 70vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}