#mainLogin {
  width: 100%;
  height: 100%;
}

#Card {
  border-top: 0.5em solid #5CD8E4;
  padding: 1.25em 2.5em;
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 1em 0 0 auto;
  background: #F4F7F9;
}

form {
  width: 90%;
  text-align: center;
}

input[type="text"], input[type="password"]{
  background-color:#EEEEEE !important;
  outline: none;
  border: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  width: 100%;
}

input:focus {
  outline: none;
  border: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

div.input-group {
  margin: 5px 0;
}

span.input-group-addon {
  border : 0 !important;
}

button {
  display: block;
  text-align: center !important;
  margin: 5px auto;
  border: 0 !important;
  color: white !important;
}

.centerlize {
  margin: 1rem auto;
}

a#forgotpw {
  display: block;
  margin: 0.5em 0 !important;
}

.sigup_mess > a {
  margin: 0 !important;
}

#sigup_mess {
  display: block;
  margin: 0.5em auto;
  width: 40%;
}

.nomargin {
  margin: 0 !important;
  background-color: #ED5A5A;
  color: white;
}

.success {
  background-color: #3AC162;
}

form > h3 {
  text-align: left;
}

i.glyphicon-ok-sign {
  color: limegreen;
}

i.glyphicon-exclamation-sign {
  color: crimson;
}

div.input-group {
  width: 100%;
}

p.error-msg {
  color:crimson;
  margin: 0;
  text-align: left;
}

.centerlize > .checkbox {
  text-align: left;
}

