.redd {
    background-color: crimson !important;
}

.redd > div > ul > li > a {
    color:#fff !important;
}

.bluee {
    background-color: #48B7C1 !important;
}

.bluee > div > ul > li > a {
    color:#fff !important;
}